.consultation{
    position: relative;
    z-index: 23;
    margin: 165px auto 100px 150px;
}

.consultation--komarik{
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 23;
    margin: 125px 150px;
}

@media (min-width: 390px) and (max-width: 449px) {
    .consultation{
        margin: 61px auto 79px 30px;
    }
}