.header{
    display: flex;
    gap: 150px;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 80px;
    padding: 22px 23px 20px 30px;
    width: 100%;
    z-index: 2;
}

@media (min-width: 390px) and (max-width: 449px) {
    .header{
        gap: 20px;
    }
}

