.consultation__title{
    font-size: 92px;
    font-weight: 700;
    line-height: 115%;
    margin: 0;
}

.consultation__title--komarik{
    font-size: 48px;
    margin-bottom: 25px;
}

@media (min-width: 390px) and (max-width: 449px) {
    .consultation__title{
        font-size: 40px;
    }
}

@media (min-width: 390px) and (max-width: 449px) {
    .consultation__title--komarik{ 
        font-size: 30px;
    }
}