.header__mobile-container {
    position: relative;
    display: none;
}
  
  .header__hamburger {
    width: 12px;
    height: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}
  
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
}
  
  .header__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    min-width: 200px;
    z-index: 99;
    margin-top: 24px;
}
  

  .header__dropdown-phone,
  .header__dropdown-write {
    font-family: 'CeraCY', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    line-height: 100%;
    letter-spacing: 2.4px;
    right: 0;
}

.header__dropdown-phone::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    width: 3px;
    height: 50px;
    margin: 6px 5px 9px 7px;
    background: rgba(223, 111, 112, 1);
}
  
  
.header__dropdown-write::after {
    display: none;
}

@media (max-width: 768px) {
    .header__mobile-container {
      display: block;
    }
  
    .header__phone,
    .header__write-us {
      display: none;
    }
  
    .header__hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(2px, 2px);
    }
    .header__hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .header__hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .header__hamburger.active + .header__dropdown {
      display: flex;
      animation: fadeIn 0.3s ease;
    }
}
  
  