.slider{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    margin-top: 145px;
    z-index: 100;
}

@media (min-width: 390px) and (max-width: 449px) {
    .slider{ 
        margin-top: 80px;
    }
}