.technical-specifications__list{
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
    column-gap: 41px;
   
}

@media (min-width: 390px) and (max-width: 449px) {
    .technical-specifications__list{ 
        width: 350px;
        font-size: 13px;
    }
}