.card__line{
    z-index: 22; 
    height: 5px; 
    border: 0; 
    background-color: #DF6F70; 
    width: 284px; 
    margin: 0;
}

.card__line--consultation{
    width: 5px;
    height: 284px; /* Высота соответствует высоте текста */
    flex-shrink: 0;
    margin-top: 20px; /* Выравнивание с первой строкой текста */
}
