.products__text{
    position: relative;
    font-size: 18px;
    z-index: 23;
    top: 80px;
    width: 70%;
    line-height: 1.7;
    margin-left: 160px;
}

@media (min-width: 390px) and (max-width: 449px) {
    .products__text{
        font-size: 16px;
        margin-left: 30px;
        width: 330px;
        top: 81px;
    }
}