.choose__container{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 67px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 390px) and (max-width: 449px) {
    .choose__container{ 
        display: flex;
        flex-direction: column;
    }
}