.order-form{
    position: absolute;
    left: 30%;
    width: 80%;
    padding: 20px;
    padding-bottom: 80px;
    z-index: 23;
}

@media (min-width: 390px) and (max-width: 449px) {
    .order-form{
        left: 55%;
        transform: translateX(-50%);
        max-width: 800px;
        padding: 20px;
        padding-bottom: 80px;
        z-index: 23;
        box-sizing: border-box;
    }
}