.order-form{
    position: absolute;
    left: 30%;
    width: 80%;
    padding: 20px;
    padding-bottom: 80px;
    z-index: 23;
}

@media (min-width: 390px) and (max-width: 449px) {
    .order-form{
        display: flex;
        flex-direction: column;
        left: 16%;
    }
}