.card__circle{
    position: relative;
    display: flex;
    justify-content: end;
    width: 480px;
    height: 480px; 
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(223, 111, 112, 0.1), rgba(83, 153, 152, 0));
    z-index: 22;
    top: 50px;
    overflow: hidden; 
}

@media (min-width: 390px) and (max-width: 449px) {
    .card__circle{
        width: 350px;
        height: 350px;
    }
}