.products__subtitle{
    position: relative;
    font-size: 40px;
    font-weight: bold;
    z-index: 23;
    margin-left: 160px;
    top: 25px;

} 

@media (min-width: 390px) and (max-width: 449px) {
    .products__subtitle{
        top: 35px;
        font-size: 26px;
        margin-left: 30px;
        line-height: 130%;
        font-weight: 700;
    }
}

