.technical-specifications__container{
    display: flex;
    flex-direction: row;
    gap: 84px;
    justify-content: center;
    align-items: end;
}

@media (min-width: 390px) and (max-width: 449px) {
    .technical-specifications__container{ 
        display: flex;
        flex-direction: column;
    }
}