.slider__block{
    position: absolute;
    top: 75%;
    right: 0;
    padding-right: 50px;

}

@media (min-width: 390px) and (max-width: 449px) {
    .slider__block{ 
        top: 60%;
        padding-right: 15px;
    }
}