.technical-specifications__ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 523px;
    height: 175px;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 390px) and (max-width: 449px) {
    .technical-specifications__ul{ 
        width: 330px;
        height: 150px;
        font-size: 13px;
    }
}