.card__line{
    z-index: 22; 
    height: 5px; 
    border: 0; 
    background-color: #DF6F70; 
    width: 284px; 
    margin: 0;
}

.card__line--consultation{
    z-index: 22; 
    border: 0; 
    background-color: #DF6F70; 
    margin: 0;
    width: 5px;
    height: 284px; 
    flex-shrink: 0;
    margin-right: 18px; 
    margin-top: 20px;
}

.card__line--consultation--komarik{
    z-index: 22; 
    border: 0; 
    background-color: #DF6F70; 
    margin: 0;
    width: 5px;
    height: 284px; 
    flex-shrink: 0;
    margin-right: 18px; 
}
